<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
    <description>PHPCS configuration for WordPress.</description>
    <file>.</file>
    <!-- Exclude the acf-json directory. -->
    <exclude-pattern>/acf-json/</exclude-pattern>
    <!-- Exclude the assets directory. -->
    <exclude-pattern>/assets/</exclude-pattern>
    <!-- Exclude the resources directory. -->
    <exclude-pattern>/resources/</exclude-pattern>
    <!-- Exclude the Composer Vendor directory. -->
    <exclude-pattern>/vendor/</exclude-pattern>
    <!-- Exclude the Node Modules directory. -->
    <exclude-pattern>/node_modules/</exclude-pattern>
    <arg value="ps"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <rule ref="WordPress" />
</ruleset>