.section-full-width-slider {
  padding: 50px 0;
}

.full-width-image-slider {
  .slick-dots {
    button {
      border: 1px solid var(--primary) !important;
    }
  }

  .slick-slide {
    position: relative;
  }

  .slick-dots {
    pointer-events: none;

    li {
      pointer-events: initial;
    }
  }

  img {
    display: block;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

    @include media('>=tablet') {
      border-radius: 12px;
    }
  }

  .btn-disclosure {
    position: absolute;
    bottom: 24px;
    right: 10px;
    z-index: 10;
    margin: 0;

    @include media('>=tablet') {
      bottom: 10px;
    }
  }
}