.section-offer-cards {
	margin-bottom: 30px;
}

.offers-slider-wrap {
	margin: 0 -10px;

	@include media('>=desktop') {
		margin: 0 -15px;
	}

	@include media('>=xxl') {
		margin: 0 -25px;
	}
}

.offers-slider.slick-item {
	.slide {
		padding: 0 10px;

		@include media('>=desktop') {
			padding: 0 15px;
		}

		@include media('>=xxl') {
			padding: 0 25px;
		}

		img {
			display: block;
			width: 100%;
			aspect-ratio: 1;
			border-radius: 6px;
			object-fit: cover;
		}
	}

	.slick-arrow {
		&.slick-prev {
			left: -4px;

			@include media('>=desktop') {
				left: 0;
			}

			@include media('>=xxl') {
				left: 10px;
			}
		}

		&.slick-next {
			right: -4px;

			@include media('>=desktop') {
				right: 0;
			}

			@include media('>=xxl') {
				right: 10px;
			}
		}
	}
}